/*variaveis*/
:root{
    --body-font:'Arial','serif';
    --color1:#000;
    --color2:#0c0c23;
    --color3: #022530;
    --color4:#054961;
    --color5:#bcdfff;
    --color6:#fff;
    --color7:#ffff00;
    /*hsl (matriz, saturação e leveza)*/
    --color8: hsl(0,80%,90%)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--color4);
    font-family: var(--body-font);
    line-height: 1.5;
}
header{
    width: 100%;
    margin:auto;
    display: flex;
    align-items: flex-start;
}
#logo{
    width: 250px;
    height: 100px;
}
.nav-menu{
    width: 100%;
    position:fixed;
    display: flex;
    list-style: none;
    gap:10px;
    justify-content: center;
    margin-top: 10px;
    transition:0.5s

}
.nav-menu li a{
    margin: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--color5);
}
.nav-menu li:hover{
    border-bottom: 2px solid var(--color5);
}
.btn{
    background: var(--color2);
    border: 1px solid var(--color5);
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    transition:0.5s;
}
.btn:hover{
    background: var(--color5);
    color:var(--color2);
    border-color:  var(--color2);
    border-bottom: 2px solid var(--color4);
}
.btnCorrer{
    margin-top: 15px;
    background: var(--color5);
    color:var(--color2);
    width: 170px;
    height: 60px;
    border-radius: 1.5rem;
    border: 1px solid var(--color1);
    font-weight: 700;
    transition: 0.5s;
}
.btnCorrer:hover{
    background: var(q--color2);
    color:var(--color1);
    box-shadow: 5px 5px 10px var(--color6);
}
.home{
    padding-top: 100px;
    width: 100%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    align-items: center;
}
.order-1{
    order: 1;
}
.order-2{
    order: 2;
}
.home-text h1{
    margin-top: 100px;
    line-height: 2.2rem;
    color: var(--color5);
    text-transform: uppercase;
    font-size: 1.5rem;
}
.titulo1{
    font-size: 1.5rem;
    color: var(--color2);
}
.home-text p{
    margin: 3rem auto 4rem;
    width: 60%;
    color: var(--color3);
}
.home-image{
    margin-top: 70px;
}
.home-image{
    cursor: pointer;
    animation: carro 10.8s ease-in-out infinite;
}

